
<div class="nav-bar">

  <div class="portfolio-nav" style="flex-basis: 50%;">
    <b class="nav-titles">PORTFOLIO</b>
    <div class="sub-links">
      <a href="/portfolio_about">About Me</a>
      <a href="/contact">Contact</a>
      <a href="/resume">Resume</a>
      <a href="/education">Education</a>
      <a href="/experience">Experience</a>
    </div>
  </div>

  <div class="content-nav" style="flex-basis: 50%;">
    <div class="sub-links">
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
      <a href="/projects">Projects</a>
      <a href="/socials">Socials</a>
      <a href="/content_about">About My Content</a>
    </div>
    <b class="nav-titles">CONTENT</b>
  </div>

</div>

