<nav class="nav-bar">

  <div class="nav-bar-top">
    <div class="content-nav-top">CONTENT</div>

    <button onclick="openMenu()" class="hamburger-button">
      <img src="/static/assets/hamburger.png" alt="Menu" class="hamburger-icon">
    </button>

    <div class="portfolio-nav-top">PORTFOLIO</div>
  </div>


  <div class="nav-bar-bottom">
    <ul class="sub-links content-links">
      <li><a href="/content_about">About My Content</a></li>
      <li><a href="/socials">Socials</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/">Home</a></li>
    </ul>

    <ul class="sub-links portfolio-links">
      <li><a href="/education">Education</a></li>
      <li><a href="/experience">Experience</a></li>
      <li><a href="/resume">Resume</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/portfolio_about">About Me</a></li>
    </ul>
  </div>


  <div id="hamburgerNav" class="hamburger-nav">
    <div class="hamburger-menu">
      <ul class="hamburger-links content-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/socials">Socials</a></li>
        <li><a href="/content_about">About My Content</a></li>
      </ul>
      <ul class="hamburger-links portfolio-menu">
        <li><a href="/education">Education</a></li>
        <li><a href="/experience">Experience</a></li>
        <li><a href="/resume">Resume</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/portfolio_about">About Me</a></li>
      </ul>
      </div>
  </div>
</nav>
