<nav class="nav-bar">
  <div class="content-nav">
    <b class="nav-titles">CONTENT</b>
    <ul class="sub-links">
      <li><a href="/content_about">About My Content</a></li>
      <li><a href="/socials">Socials</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/">Home</a></li>
    </ul>
  </div>

  <button onclick="openMenu()" class="hamburger-button">
    <img src="/static/assets/hamburger.png" alt="hamburger menu logo" class="hamburger-icon">
  </button>

  <div class="portfolio-nav">
    <ul class="sub-links">
      <li><a href="/education">Education</a></li>
      <li><a href="/experience">Experience</a></li>
      <li><a href="/resume">Resume</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/portfolio_about">About Me</a></li>
    </ul>
    <b class="nav-titles">PORTFOLIO</b>
  </div>


  <div class="hamburger-nav" id="hamburgerNav">
    <div class="menu">
      <ul class="hamburger-links content-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/socials">Socials</a></li>
        <li><a href="/content_about">About My Content</a></li>
      </ul>
      <ul class="hamburger-links portfolio-menu">
        <li><a href="/education">Education</a></li>
        <li><a href="/experience">Experience</a></li>
        <li><a href="/resume">Resume</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/portfolio_about">About Me</a></li>
      </ul>
    </div>
  </div>
</nav>
