<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Analytics With Avery | {{ post['title'] }}</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="icon" href="/static/assets/favicon.png" type="image/png">
</head>

<body>
    <div class="page-content">

    <div id="navbar"></div>

    <main>
        <h1>The Analytics With Avery Blog</h1>
        <div class="blog-post">
        <h2>{{ post['title'] }}</h2>
        <h3>By Avery Doiron | {{ post['date'] }}</h3>
        <div class="blog-text">
            {{ post['content'] | safe }}
        </div>
        </div>

        <a href="/blog">← Back to all posts</a>
    </main>

    </div>

  <div id="footer"></div>

  <script src="/static/js/main.js"></script>

</body>

</html>
