<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />

  <title>Analytics With Avery | NHL Player Cards</title>
  <meta name="description" content="Explore Avery Doiron's NHL Player Cards, showcasing custom rankings, analytics, and stats for NHL players">
  <meta name="keywords" content="Analytics With Avery, NHL player cards, hockey player cards, stat cards, hockey analytics, player rankings, sports analytics">
  <meta name="author" content="Avery Doiron">

  <meta property="og:title" content="Analytics With Avery | NHL Player Cards">
  <meta property="og:description" content="View NHL Player Cards created by Avery Doiron, featuring player rankings, analytics, and visual stats for hockey enthusiasts.">
  <meta property="og:image" content="https://analyticswithavery.com/static/assets/preview_card_1.png">
  <meta property="og:url" content="https://analyticswithavery.com/player_cards">
  <meta property="og:type" content="website">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Analytics With Avery | NHL Player Cards">
  <meta name="twitter:description" content="Explore Avery Doiron's NHL Player Cards with rankings, stats, and analytics for forwards and defensemen.">
  <meta name="twitter:image" content="https://analyticswithavery.com/static/assets/preview_card_1.png">

  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="icon" href="/static/assets/favicon.png" type="image/png">
</head>


<body>
  <div class="page-content">

    <div id="navbar"></div>

    <main>
      <h1 class="main-heading">NHL Player Cards</h1>

      <div class="card-section">

        <form method="POST" id="filter-form-0">
          <h2>Choose a Player:</h2>

          <div class="filters-row">

            <label for="mode-0">Card Mode:</label>
            <select name="mode" id="mode-0">
              <option value="light" {% if selected_card and selected_card.mode == 'light' %}selected{% endif %}>Light</option>
              <option value="dark" {% if selected_card and selected_card.mode == 'dark' %}selected{% endif %}>Dark</option>
            </select>

            <label for="season-0">Season:</label>
            <select name="season" id="season-0">
              {% for s in seasons %}
              <option value="{{ s }}" 
                {% if selected_card %}
                  {% if selected_card.season == s %}selected{% endif %}
                {% else %}
                  {% if loop.first %}selected{% endif %}
                {% endif %}
              >
                {{ s }}
              </option>
              {% endfor %}
            </select>

            <label for="team-0">Team:</label>
            <select name="team" id="team-0">
              {% for t in teams %}
              <option value="{{ t }}" 
                {% if selected_card %}
                  {% if selected_card.team == t %}selected{% endif %}
                {% else %}
                  {% if loop.first %}selected{% endif %}
                {% endif %}
              >
                {{ team_names[t] }}
              </option>
              {% endfor %}
            </select>

            <label for="position-0">Position:</label>
            <select name="position" id="position-0">
              {% for p in positions %}
              <option value="{{ p }}"
                {% if selected_card %}
                  {% if selected_card.position == p %}selected{% endif %}
                {% else %}
                  {% if loop.first %}selected{% endif %}
                {% endif %}
              >
                {{ position_names[p] }}
              </option>
              {% endfor %}
            </select>

            <label for="player-0">Player:</label>
            <select name="player" id="player-0" required data-selected="{{ selected_card.name if selected_card }}">
              {% for p in players_list %}
              <option value="{{ p.player }}" 
                data-season="{{ p.season }}" 
                data-position="{{ p.position }}" 
                data-team="{{ p.team }}"
                {% if selected_card and selected_card.name == p.player %}selected{% endif %}
              >
                {{ p.player }}
              </option>
              {% endfor %}
            </select>

          </div>

          <button type="button" class="generate-button">Generate Card</button>

          <div class="player-card">
            <div id="loading-spinner-0" class="card-loading-spinner">
              <img src="/static/assets/loading_icon.svg" class="spinner-icon" alt="">
            </div>                     
            
            <a id="card-link-0" href="" target="_blank">
              <img id="card-img-0" alt="{{ selected_card.name }} card">
            </a>
          </div>
        </form>

        <div class="button-background">
          <h3>Want to compare two different player cards?</h3>
          <div class="content-button">
            <h2><a href="/compare_player_cards">Compare Two Player Cards</a></h2>
          </div>
        </div>

        <div class="card-explanation">
          <h3>Card Explanation:</h3>
          <p>All attributes are weighted based on the past 3 seasons, with the most recent season being weighted the most.</p>
          <p>Each ranking section has the player's ranking for that attribute (the largest number), 
            the total number of players that qualify for that attribute (the smallest number), 
            and a percentile bar showing the percentage of players that the selected player ranks above in that attribute.
          </p>
          <p>To qualify for rankings, a skater must have played at least 30% of the total games in the season (25 games in an 82 game season),
             a goalie must have played 15% of the total games in the season (13 games in an 82 game season).
          </p>
          <h4>Data includes all games played up to and including January 1, 2026.</h4>

          <h3>Skater Rankings:</h3>
          <ul>
            <li><b>5v5 Offense</b> - A skater's offensive performance at 5-on-5 (even strength), adjusted to a per 60 minute rate.</li>
            <li><b>5v5 Defense</b> - A skater's defensive performance at 5-on-5 (even strength), adjusted to a per 60 minute rate.</li>
            <li><b>5v4 Offense</b> - A skater's offensive performance at 5-on-4 (the power play), adjusted to a per 60 minute rate. Requires averaging over 45 seconds of 5v4 ice time per game.</li>
            <li><b>4v5 Defense</b> - A skater's defensive performance at 4-on-5 (the penalty kill), adjusted to a per 60 minute rate. Requires averaging over 45 seconds of 4v5 ice time per game.</li>
            <li><b>On-Ice Offense</b> - The offensive performance of the skater's team at 5-on-5 while the skater is on the ice, adjusted to a per 60 minute rate.</li>
            <li><b>On-Ice Defense</b> - The defensive performance of the skater's team at 5-on-5 while the skater is on the ice, adjusted to a per 60 minute rate.</li>
            <li><b>Shooting</b> - A skater's ability to shoot at 5-on-5, adjusted to a per 60 minute rate.</li>
            <li><b>Scoring</b> - A skater's ability to score at 5-on-5, adjusted to a per 60 minute rate.</li>
            <li><b>Playmaking</b> - A skater's ability to set up other players at 5-on-5, adjusted to a per 60 minute rate.</li>
            <li><b>O-Zone Starts</b> - The frequency of a skater's shifts starting in the offensive zone at 5-on-5, adjusted to a per 60 minute rate.</li>
            <li><b>Penalties</b> - A skater's ability to draw penalties versus take penalties at 5-on-5, adjusted to a per 60 minute rate.</li>
            <li><b>Physicality</b> - A skater's ability to deliver hits at 5-on-5, adjusted to a per 60 minute rate.</li>
            <li><b>Faceoffs</b> - A skater's ability to win faceoffs at 5-on-5, adjusted to a per 60 minute rate. Requires averaging at least 3 faceoffs per game.</li>
            <li><b>Fantasy</b> - A skater's fantasy points production in a typical fantasy league, adjusted to a per game rate.</li>
          </ul>

          <h3>Goalie Rankings:</h3> 
          <ul>
            <li><b>Overall</b> - A goalie's performance across all situations, adjusted to a per 60 minute rate.</li>
            <li><b>Even Strength</b> - A goalie's performance at 5-on-5 (even strength), adjusted to a per 60 minute rate.</li>
            <li><b>Penalty Kill</b> - A goalie's performance on the penalty kill (4-on-5), adjusted to a per 60 minute rate.</li>
            <li><b>Low Danger</b> - A goalie's ability to stop low-danger shots, adjusted to a per 60 minute rate.</li>
            <li><b>Medium Danger</b> - A goalie's ability to stop medium-danger shots, adjusted to a per 60 minute rate.</li>
            <li><b>High Danger</b> - A goalie's ability to stop high-danger shots, adjusted to a per 60 minute rate.</li>
            <li><b>Rebounds</b> - A goalie's ability to limit rebound attempts, adjusted to a per 60 minute rate.</li>
            <li><b>Team Defense</b> - Reflects the quality and quantity of shots a goalie faces. Higher rankings indicate stronger team defense, adjusted to a per 60 minute rate.</li>
            <li><b>Great Starts</b> - A goalie's frequency of starts with a save percentage ≥0.915, adjusted to a per game rate.</li>
            <li><b>Quality Starts</b> - A goalie's frequency of starts with a save percentage ≥0.900, adjusted to a per game rate.</li>
            <li><b>Bad Starts</b> - A goalie's frequency of starts with a save percentage <0.900, adjusted to a per game rate.</li>
            <li><b>Awful Starts</b> - A goalie's frequency of starts with a save percentage ≤0.885, adjusted to a per game rate.</li>
            <li><b>Fantasy</b> - A goalie's fantasy points production in a typical fantasy league, adjusted to a per game rate.</li>
          </ul>

          <h3>Profile Information:</h3> 
          <ul>
            <li><b>Position</b> - The player's position (forward, defense, or goalie).</li>
            <li><b>Role</b> - The player's role on his team. Based on time on ice for skaters and games played for goalies.</li>
            <li><b>Contract</b> - The number of years left and cap hit on a player's current contract. [Coming Soon]</li>
            <li><b>Age</b> - The player's age as of September 1 of the first year of the selected season.</li>
            <li><b>Size</b> - The player's height (in feet) and weight (in pounds).</li>
            <li><b>Drafted</b> - The player's overall draft position, the round they were drafted in, and the year they were drafted.</li>
            <li><b>Country</b> - The country the player represents.</li>
          </ul>

          <h3>Skater Stats:</h3> 
          <ul>
            <li><b>Games</b> - A skater's number of games played.</li>
            <li><b>Goals</b> - A skater's number of goals in all situations.</li>
            <li><b>Assists</b> - A skater's number of assists in all situations.</li>
            <li><b>Points</b> - A skater's number of points (goals and assists) in all situations.</li>
            <li><b>xGoals</b> - A skater's expected goals in all situations.</li>
            <li><b>5v5 GF%</b> - A skater's 5-on-5 goals for percentage (the percentage of goals scored by a skater's team out of all goals scored while the player is on the ice).</li>
            <li><b>5v5 xGF%</b> - A skater's 5-on-5 expected goals for percentage (the percentage of expected goals by a skater's team out of all expected goals while the player is on the ice).</li>
          </ul>

          <h3>Goalie Stats:</h3> 
          <ul>
            <li><b>Games</b> - A goalie's number of games played.</li>
            <li><b>Record</b> - A goalie's record (wins-losses-overtime/shootout losses).</li>
            <li><b>Shutouts</b> - A goalie's number of shutouts (full games without letting in a goal).</li>
            <li><b>Save%</b> - A goalie's save percentage (the percentage of shots faced that were saved) in all situations.</li>
            <li><b>GAA</b> - A goalie's goals against average (the average amount of goals let in per 60 minutes).</li>
            <li><b>GSAx</b> - A goalie's goals saved above expected (difference in expected goals allowed and actual goals allowed).</li>
            <li><b>GSAx/60</b> - A goalie's goals saved above expected, adjusted to a per 60 minute rate.</li>
          </ul>        

        </div>

        <div class="card-explanation">
          <h3>These cards are currently in beta. Upcoming additions and updates include:</h3>
          <ul>
            <li>Contract information.</li>
            <li>Ranking model improvements (player rankings may change over time).</li>
            <li>Card design improvements (card visuals may change over time).</li>
          </ul>
        </div>

      </div>
    </main>

    <div id="footer"></div>

  </div>

  <script src="/static/js/main.js"></script>
</body>
</html>
