<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Analytics With Avery | Blog </title>
  <meta name="description" content="Read the Analytics With Avery blog by Avery Doiron. Discover insights on NHL analytics, player cards, sports data science, and hockey projects.">
  <meta name="keywords" content="Analytics With Avery blog, hockey analytics, NHL player cards, sports analytics blog, data science, hockey projects">
  <meta name="author" content="Avery Doiron">

  <meta property="og:title" content="Analytics With Avery | Hockey Analytics Blog">
  <meta property="og:description" content="Explore Avery Doiron's hockey analytics blog, including player cards, data-driven insights, and sports analytics projects.">
  <meta property="og:image" content="https://analyticswithavery.com/static/assets/analyticswithavery_logo.png">
  <meta property="og:url" content="https://analyticswithavery.com/blog">
  <meta property="og:type" content="website">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Analytics With Avery | Hockey Analytics Blog">
  <meta name="twitter:description" content="Discover NHL analytics, player cards, and sports analytics projects on Avery Doiron's blog.">
  <meta name="twitter:image" content="https://analyticswithavery.com/static/assets/analyticswithavery_logo.png">

  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="icon" href="/static/assets/favicon.png" type="image/png">
</head>


<body>

  <div class="page-content">
    <div id="navbar"></div>

    <main>

      <h1 class="main-heading">The Analytics With Avery Blog</h1>

      {% for post in posts %}
      <div class="blog-section">
        <h2><a href="/blog/{{ post['id'] }}">{{ post['title'] }}</a></h2>
        <h4>{{ post['date'] }}</h4>
        <p>{{ post['preview'] }}</p>
      </div>
    {% endfor %}
    
    </main>

  </div>

  <div id="footer"></div>

  <script src="/static/js/main.js"></script>

</body>

</html>
