<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Analytics With Avery | My Projects</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="icon" href="/static/assets/favicon.png" type="image/png">
</head>


<body>

  <div class="page-content">

    <div id="navbar"></div>

    <main>
      
      <h1 class="main-heading">Check Out My Projects</h1>
        
      <div class="card-section">
        <h2>NHL Analytical Player Cards: Coming Soon!</h2>
        <p>
          This is an early preview of my NHL player cards. The model is still under development, so the rankings shown are not final. 
          You can view the current project code on my <a href="https://github.com/AveryJD/hockey-player-attribute-rankings-cards">GitHub</a>.
        </p>
        <img src="static/assets/preview_card_0.png" alt="Preview Card" class="card-image">
      </div>

    </main>

  </div>

  <div id="footer"></div>

  <script src="/static/js/main.js"></script>

</body>

</html>

