<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Analytics With Avery | Socials</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="icon" href="/static/assets/favicon.png" type="image/png">
</head>


<body>

  <div class="page-content">

    <div id="navbar"></div>

    <main>
      <h1>Analytics With Avery Social Media</h1>

      <div class="socials-section">
        <div>
          <p> 
            If you want to support me and get updated whenever I release new content, you can follow the Analytics with Avery social media accounts
            with the icons below. I use X (formerly Twitter) as my main platform for sharing content, but plan to post to Instagram and YouTube in the 
            future. Additionally you can reach out via my Analytics With Avery email for any questions, feedback, ideas, or anything else related to my 
            content.
          </p> 
        </div>
      
        <div class="socials-container">
          <img 
            src="static/assets/twitter.png" 
            alt="My X/Twitter Profile"
            class="socials-icon" 
            onclick="location.href='https://x.com/analyticswavery'" 
          />
          <img 
            src="static/assets/youtube.png" 
            alt="My YouTube Profile"
            class="socials-icon" 
            onclick="location.href='https://www.youtube.com/@analyticswithavery'" 
          />
          <img 
            src="static/assets/instagram.png" 
            alt="My Instagram Profile"
            class="socials-icon" 
            onclick="location.href='https://www.instagram.com/analyticswavery/'" 
          />
          <img 
            src="static/assets/email.png" 
            alt="My Email" 
            class="socials-icon"
            onclick="location.href='mailto:analyticswithavery@gmail.com'" 
          />
        </div>
      </div>

    </main>

  </div>

  <div id="footer"></div>

  <script src="/static/js/main.js"></script>
  
</body>

</html>



