<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Analytics With Avery | Socials</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="icon" href="/static/assets/favicon.png" type="image/png">
</head>


<body>

  <div class="page-content">

    <div id="navbar"></div>

    <main>
      
      <h1 class="main-heading">Analytics With Avery Social Media</h1>

      <div class="socials-section">
        <div>
          <p> 
            If you want to support me and get updated whenever I release new content, you can follow the Analytics with Avery social media accounts
            with the icons below. I use X (formerly Twitter) and Instagram as my main platforms for sharing content, but plan to post to YouTube, TikTok,
            and Reddit in the future. Additionally, you can reach out via my Analytics With Avery email for any questions, feedback, ideas, or anything 
            else related to my content.
          </p> 
        </div>
      
        <div class="socials-container">
          <a href="https://x.com/analyticswavery" target="_blank" rel="noopener noreferrer" class="social-link">
            <img src="static/assets/twitter.png" alt="X/Twitter Profile" class="socials-icon">
          </a>
          <a href="https://www.instagram.com/analyticswavery/" target="_blank" rel="noopener noreferrer" class="social-link">
            <img src="static/assets/instagram.png" alt="Instagram Profile" class="socials-icon">
          </a>
          <a href="https://www.youtube.com/@analyticswavery" target="_blank" rel="noopener noreferrer" class="social-link">
            <img src="static/assets/youtube.png" alt="YouTube Profile" class="socials-icon">
          </a>
          <a href="https://www.tiktok.com/@analyticswavery" target="_blank" rel="noopener noreferrer" class="social-link">
            <img src="static/assets/tiktok.png" alt="TikTok Profile" class="socials-icon">
          </a>
          <a href="https://www.reddit.com/user/analyticswavery/" target="_blank" rel="noopener noreferrer" class="social-link">
            <img src="static/assets/reddit.png" alt="Reddit Profile" class="socials-icon">
          </a>
          <a href="mailto:analyticswithavery@gmail.com" class="social-link">
            <img src="static/assets/email.png" alt="Email Analytics With Avery" class="socials-icon">
          </a>
        </div>        
      </div>

    </main>

  </div>

  <div id="footer"></div>

  <script src="/static/js/main.js"></script>
  
</body>

</html>



