{% extends "base.html" %}

{% block title %}Analytics With Avery | Blog{% endblock %}
{% block meta_description %}Read the Analytics With Avery blog by Avery Doiron. Discover insights on NHL analytics, player cards, sports data science, and hockey projects.{% endblock %}
{% block meta_keywords %}Analytics With Avery blog, hockey analytics, NHL player cards, sports analytics blog, data science, hockey projects{% endblock %}

{% block og_title %}Analytics With Avery | Hockey Analytics Blog{% endblock %}
{% block og_description %}Explore Avery Doiron's hockey analytics blog, including player cards, data-driven insights, and sports analytics projects.{% endblock %}
{% block og_image %}https://analyticswithavery.com/static/assets/analytics_with_avery_logos/analyticswithavery_logo.png{% endblock %}
{% block og_url %}https://analyticswithavery.com/blog{% endblock %}

{% block twitter_title %}Analytics With Avery | Hockey Analytics Blog{% endblock %}
{% block twitter_description %}Discover NHL analytics, player cards, and sports analytics projects on Avery Doiron's blog.{% endblock %}
{% block twitter_image %}https://analyticswithavery.com/static/assets/analytics_with_avery_logos/analyticswithavery_logo.png{% endblock %}

{% block content %}
  <h1>Blog</h1>

  {% for post in posts %}
    <div class="blog-section">
      <h2><a href="/blog/{{ post['url'] }}">{{ post['title'] }}</a></h2>
      <h4>{{ post['date'] }}</h4>
      <p>{{ post['preview'] }}</p>
    </div>
  {% endfor %}
{% endblock %}