<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Analytics With Avery | About My Content</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="icon" href="/static/assets/favicon.png" type="image/png">
</head>

<body>
  <div class="page-content">
    
    <div id="navbar"></div>

    <main>
      
      <h1 class="main-heading">About Analytics by Avery</h1>
        
      <div class="about-section">
        <img class="main-image-round" src="static/assets/analyticswithavery_logo.png" alt="Analytics by Avery Profile Picture"/>
        <div class="text-beside-image">
          <p>
            Analytics by Avery is my personal online platform where I showcase my work in sports analytics, with a strong focus on hockey. 
            It's a space where I combine my technical skills and passion for sports to share projects, visualizations, and ideas that dig deeper 
            into the numbers behind the game.
          </p>
          <p>
            On this site, you can find my blog, where I explore research, trends, and statistical insights from across the world of sports. 
            I aim to make advanced analytics more understandable, engaging, and accessible for fans, analysts, and aspiring data scientists 
            alike. You can also find a preview of my hockey analytics player card project. I am currently finishing up my model built to 
            evaluate and rank various attributes of NHL players.
          </p>
          <p>
            Whether you're here to browse my latest hockey data projects or follow my journey in the world of sports analytics, I hope you find 
            something interesting, informative, or just fun to dive into.
          </p>
        </div>
      </div>

    </main>
  </div>

  <div id="footer"></div>

  <script src="/static/js/main.js"></script>
  
</body>

</html>
