<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Analytics With Avery | Projects</title>
  <meta name="description" content="Explore Avery Doiron's hockey analytics projects, including custom NHL player stat cards that visualize performance using advanced data models.">
  <meta name="keywords" content="Analytics With Avery, NHL analytics projects, NHL player cards, hockey player cards, hockey projects, sports analytics">
  <meta name="author" content="Avery Doiron">

  <meta property="og:title" content="Analytics With Avery | My Projects">
  <meta property="og:description" content="Discover NHL player cards built using advanced hockey analytics and clean visuals.">
  <meta property="og:image" content="https://analyticswithavery.com/static/assets/preview_card_0.png">
  <meta property="og:url" content="https://analyticswithavery.com/projects">
  <meta property="og:type" content="website">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Analytics With Avery | NHL Player Card Projects">
  <meta name="twitter:description" content="Explore Avery Doiron's hockey analytics projects and custom NHL player cards.">
  <meta name="twitter:image" content="https://analyticswithavery.com/static/assets/preview_card_0.png">

  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="icon" href="/static/assets/favicon.png" type="image/png">
</head>


<body>

  <div class="page-content">

    <div id="navbar"></div>

    <main>
      
      <h1 class="main-heading">Check Out My Projects</h1>
        
      <div class="card-section">

        <h1>NHL Player Cards</h1>

        <p>
          I built custom NHL player stat cards that combine advanced analytics, custom models, and clean visuals to highlight player performance. 
          This is still a work in progress, so the rankings and visuals are constantly evolving as I continue improving the results and look of these cards.
        </p>

        <p>
          You can explore the code behind this project and follow its development on my 
          <a href="https://github.com/AveryJD/hockey-player-attribute-rankings-cards" target="_blank">GitHub</a>.
        </p>

        <div class="horizontal-buttons">
          <div class="project-button">
            <a href="/player_cards">View Single Player Cards</a>
          </div>
  
          <div class="project-button">
            <a href="/compare_player_cards">Compare Two Player Cards</a>
          </div>
        </div>

        <h5>Note: When generating a card, please allow a moment for it to load.</h5>

        <div class="player-card">
          <img src="static/assets/preview_card_0.png" alt="Preview Card">
        </div>
      </div>

    </main>

  </div>

  <div id="footer"></div>

  <script src="/static/js/main.js"></script>

</body>

</html>

