<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Analytics With Avery | Home Page</title>
  <link rel="stylesheet" href="/static/css/style.css"> 
  <link rel="icon" href="/static/assets/favicon.png" type="image/png">
</head>


<body>

  <div class="page-content">

    <div id="navbar"></div>

    <main>

      <h1>Welcome to My Website</h1>

      <div class="home-section">
        <h2>Check out my most recent blogs:</h2>
      </div>

      <div class="home-section">
        <h2>Check out my analytical NHL player cards:</h2>
      </div>

    </main>
  
  </div>

  <div id="footer"></div>


  <script src="/static/js/main.js"></script>
  
</body>

</html>

