<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Analytics With Avery | About Me</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="icon" href="/static/assets/favicon.png" type="image/png">
</head>

<body>

  <div class="page-content">

    <div id="navbar"></div>

    <main>

      <h1 class="main-heading">About Me</h1>
      
      <div class="about-section">
        <img class="main-image-round" src="static/assets/analyticswithavery_logo.png" alt="Analytics by Avery Profile Picture"/>
        <div class="text-beside-image">
          <p>
            My name is Avery Doiron and I'm a student attending St. Francis Xavier University in my home province of Nova Scotia, Canada. 
            I'm currently pursuing a Bachelor of Science (Honours) degree in Computer Science with a minor in Mathematics. I have a strong 
            interest in data science, particularly how it can be used to uncover insights, drive decisions, and tell compelling stories.
          </p>
          <p>
            I'm very passionate about sports, both playing and watching them, with my favourite being hockey. My love for both sports and computer 
            science has led me to explore the use of data science and analytics in sports. I enjoy digging into player stats, trends, and patterns to better 
            understand the game and find creative ways to visualize performance data.
          </p>
          <p>
            My ultimate goal is to work in the analytics department of a professional sports team, where I can combine my technical skills 
            with my love for the game. Whether it's through research, custom-built data tools, or visual storytelling, I'm driven to make an 
            impact in the sports analytics community.
          </p>
        </div>
      </div>

    </main>

  </div>

  <div id="footer"></div>

  <script src="/static/js/main.js"></script>

</body>

</html>
