<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Analytics With Avery | Experience</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="icon" href="/static/assets/favicon.png" type="image/png">
</head>

<body>

  <div class="page-content">

    <div id="navbar"></div>

    <main>
      <h1 class="main-heading">My Experience</h1>

      <h1 class="sub-heading">Technical Experience</h1>

      <div class="experience-section">
        <img class="main-image" src="static/assets/seasi.svg" alt="SEASI Logo"/>
        <div class="text-beside-image">
          <h2>Junior Technology Analyst - SEASI</h2>
          <p>
            I worked with <a href="https://seasi.com">SEASI</a> during May and June in 2024, and May to August in 2025 (6 months total).
            SEASI is a data and analytics company that provides advisory and consulting services focused on digital transformation, business 
            intelligence, advanced analytics, machine learning, and artificial intelligence.
          </p>
          <p>
            At SEASI, I worked on both technical and client-facing projects. I contributed to the backend of SEASI's website and AI chatbot, and 
            supported the design of the company's Azure-based database infrastructure (earning my AZ-900 certification in the process). I also 
            created dashboards and configured over 100 profiles in SEASI's Microsoft Dynamics CRM, tailored consultant resumes for government contracts, 
            and supported the rollout of cloud-based tools. This role gave me hands-on experience with cloud technologies, databases, and data 
            visualization, while also improving my communication and teamwork skills.
          </p>
        </div>
      </div>

      <h1 class="sub-heading">Additional Experience</h1>

      <div class="experience-section">
        <img class="main-image" src="static/assets/modg.png" alt="Municipality of the District of Guysborough Logo"/>
        <div class="text-beside-image">
          <h2>Lifeguard - Municipality of the District of Guysborough</h2>
          <p>
            I worked as a pool lifeguard each summer during the months of June to August from 2020 to 2024 (1 year total). For the first two 
            summers, I served as a junior lifeguard, earning certifications in First Aid, Bronze Medallion, and Bronze Cross. In my third 
            summer, I became a national lifeguard and swim instructor, earning my National Lifeguard and Swim Instructor 
            certifications. In my final summer I took on the responsibility of co-headguard, and continued teaching as a swim instuctor.
          </p>
          <p>
            As a lifeguard, I ensured the safety of all pool users and responded to emergencies. As a swim instructor, I taught children from ages
            3 to 15 water safety and swimming techniques, and helped prepare young teens for future lifeguard certifications. This job strengthened 
            my leadership, teamwork, and decision-making skills while emphasizing responsibility and clear communication.
          </p>
        </div>
      </div>

      <div class="experience-section">
        <img class="main-image" src="static/assets/independent.png" alt="Your Independent Grocer Logo"/>
        <div class="text-beside-image">
          <h2>Retail Associate - Your Independent Grocer</h2>
          <p>
            I worked as a retail associate from August 2019 to May 2023 (3 years, 4 months total), taking some time off occasionally for school 
            and summer employment as a lifeguard. My responsibilities included operating as a cashier, stocking shelves, unloading shipments, 
            managing the produce section, and assisting with store closing procedures.
          </p>
          <p>
            This role enhanced my customer service and communication abilities, taught me how to multitask in a busy environment, and sharpened 
            my attention to detail by ensuring accurate inventory and product presentation.
          </p>
        </div>
      </div>

    </main>

  </div>

  <div id="footer"></div>

  <script src="/static/js/main.js"></script>

</body>

</html>
