<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Experience</title>
  <link rel="stylesheet" href="/static/css/style.css" />
</head>

<body>

  <div id="navbar"></div>

  <main>
    <h1>My Experience</h1>

    <div class="experience-section">
      <img class="main-image" src="static/assets/seasi.svg" alt="SEASI Logo"/>
      <div class="text-beside-image">
        <h2>Junior Technology Analyst - SEASI</h2>
        <p>
          I worked at <a href="https://seasi.com">SEASI</a> during May and June in 2024, and I am returning for a full four-month term 
          from May to August in 2025 (6 months total once my current term is finished).
        </p>
        <p>
          SEASI is a data and analytics company that provides advisory and consulting services focused on digital transformation, business 
          intelligence, advanced analytics, machine learning, and artificial intelligence. They support both private and public sector clients with 
          on-premise and cloud-based solutions across a wide range of platforms and technologies.
        </p>
        <p>
          In my role, I worked closely with the president, Donald Richard, on ...
        </p>
      </div>
    </div>

    <h1 class="sub-heading">Other Jobs</h1>

    <div class="experience-section">
      <img class="main-image" src="static/assets/modg.png" alt="Municipality of the District of Guysborough Logo"/>
      <div class="text-beside-image">
        <h2>Lifeguard - Municipality of the District of Guysborough</h2>
        <p>
          I worked as a pool lifeguard each summer during the months of June to August from 2020 to 2024 (1 year total). For the first two 
          summers, I served as a junior lifeguard, earning certifications in First Aid, Bronze Medallion, and Bronze Cross. In my third 
          summer, I became a national lifeguard and swim instructor, earning my National Lifeguard and Swim Instructor 
          certifications. In my final summer I took on the responsibility of co-headguard, and continued teaching as a swim instuctor.
        </p>
        <p>
          As a lifeguard, I ensured the safety of all pool users and responded to emergencies. As a swim instructor, I taught children aged 3 to 
          15 water safety and swimming techniques, and helped prepare young teens for future lifeguard certifications. This job strengthened 
          my leadership, teamwork, and decision-making skills while emphasizing responsibility and clear communication.
        </p>
      </div>
    </div>

    <div class="experience-section">
      <img class="main-image" src="static/assets/independent.png" alt="Your Independent Grocer Logo"/>
      <div class="text-beside-image">
        <h2>Retail Associate - Your Independent Grocer</h2>
        <p>
          I worked as a retail associate from August 2019 to May 2023 (3 years, 4 months total), taking some time off occasionally for school 
          and summer employment as a lifeguard. My responsibilities included operating as a cashier, stocking shelves, unloading shipments, 
          managing the produce section, and assisting with store closing procedures.
        </p>
        <p>
          This role enhanced my customer service and communication abilities, taught me how to multitask in a busy environment, and sharpened 
          my attention to detail by ensuring accurate inventory and product presentation.
        </p>
      </div>
    </div>

  </main>

  <div id="footer"></div>

  <script src="/static/js/main.js"></script>
</body>
</html>
