<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Analytics With Avery | Education</title>
  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="icon" href="/static/assets/favicon.png" type="image/png">
</head>


<body>

  <div class="page-content">

    <div id="navbar"></div>

    <main>

      <h1 class="main-heading">My Education</h1>

      <h1 class="sub-heading">Undergraduate Degree</h1>

        <div class="education-section">
          <img class="main-image" src="static/assets/stfx.png" alt="StFX Logo"/>
          <div class="text-beside-image">

            <div>
              <p>
                I recently completed my second year of a <i>Bachelor of Science with Honours in Computer Science, Minor in Mathematics</i> 
                at <a href="https://www.stfx.ca">St. Francis Xavier University</a>. I have a cumulative GPA of 3.9, and my GPA in my relevant courses 
                (listed below) is 4.0. I am on track to graduate in April 2027. After completing my undergraduate degree, I plan to pursue a Master 
                of Science in Computer Science, Statistics, or a related field with a strong focus on data science and analytics.
              </p>  
            </div>
        
            <div>
              <h2>Relevant Courses</h2>
              <div class="courses-section">
                <div class="education-list">
                  <h3>Computer Science</h3>
                  <ul>
                    <li>Introduction to Programming (Python)</li>
                    <li>Programming and Data Structures (Java)</li>
                    <li>Advanced Data Structures (C++)</li>
                    <li>Database Management Systems (SQL)</li>
                    <li>Computer Organization</li>
                    <li>Social Issues in the Information Age</li>
                  </ul>
                </div>
                <div class="education-list">
                  <h3>Mathematics and Statistics</h3>
                  <ul>
                    <li>Calculus I</li>
                    <li>Calculus II</li>
                    <li>Linear Algebra</li>
                    <li>Discrete Structures</li>
                    <li>Introduction to Statistics for Students in the Sciences</li>
                  </ul>
                </div>
              </div>
            </div>

            <div>
              <h2>Upcoming Courses (2025-2026)</h2>
              <div class="courses-section">
                <div class="education-list">
                  <h3>First Term</h3>
                  <ul>
                    <li>Introduction to Data Science</li>
                    <li>Theory of Computing</li>
                    <li>Algorithm Design and Analysis</li>
                    <li>Data Communications and Networking</li>
                  </ul>
                </div>
                <div class="education-list">
                  <h3>Second Term</h3>
                  <ul>
                    <li>Sports Analytics</li>
                    <li>Statistical Methods</li>
                    <li>Natural Language Processing</li>
                    <li>Mobile Application Development</li>
                  </ul>
                </div>
              </div>
            </div>

            <div>
              <h2>Awards</h2>
              <div class="awards-list">
                <ul>
                  <li>Dean's List (2024-2025)</li>
                  <li>StFX In-Course Scholarship - $1000 CAD (2024-2025, 2025-2026)</li>
                </ul>
              </div>
            </div>

          </div>
        </div>

    </main>

  </div>

  <div id="footer"></div>

  <script src="/static/js/main.js"></script>
  
</body>

</html>

