<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Education</title>
  <link rel="stylesheet" href="/static/css/style.css" />
</head>


<body>

  <div id="navbar"></div>

  <main>

    <h1>My Education</h1>

      <div class="education-section">
        <img class="main-image" src="static/assets/stfx.png" alt="StFX Logo"/>
        <div class="text-beside-image">

          <div>
            <h2>Undergraduate Degree</h2>
            <p>
              I have recently completed my second year of a <b>Bachelor of Science with Honours in Computer Science and a Minor in Statistics</b> 
              at <a href="https://www.stfx.ca">St. Francis Xavier University</a>. My cumulative GPA is a 3.9, and my GPA in my relevant courses 
              (see below) is a 4.0. I am on track to graduate in April 2027. After completing my undergraduate degree, I plan to pursue a Master 
              of Science in Computer Science, Statistics, or a related field with a strong focus in data science and analytics.
            </p>  
          </div>
      
          <div>
            <h2>Relevant Courses</h2>
            <div class="courses-section">
              <div class="education-list">
                <h3>Computer Science Courses</h3>
                <ul>
                  <li>Introduction to Programming (Python)</li>
                  <li>Programming and Data Structures (Java)</li>
                  <li>Advanced Data Structures (C++)</li>
                  <li>Database Management Systems (SQL)</li>
                  <li>Computer Organization</li>
                  <li>Social Issues in the Information Age</li>
                </ul>
              </div>
              <div class="education-list">
                <h3>Mathematics/Statistics Courses</h3>
                <ul>
                  <li>Calculus I</li>
                  <li>Calculus II</li>
                  <li>Linear Algebra</li>
                  <li>Discrete Structures</li>
                  <li>Into to Statistics for Students in the Sciences</li>
                </ul>
              </div>
            </div>
          </div>

          <div>
            <h2>Awards</h2>
            <ul class="education-list">
              <li>StFX In-Course Scholarship - $1000 CAD (2024-2025)</li>
              <li>Dean's List (2024-2025)</li>
            </ul>
          </div>

        </div>
      </div>

  </main>

  <div id="footer"></div>

  <script src="/static/js/main.js"></script>
</body>

</html>

