<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Contact</title>
  <link rel="stylesheet" href="/static/css/style.css" />
</head>


<body>

  <div id="navbar"></div>

  <main>

    <h1>Connect With Me</h1>

    <div class="socials-section">
      <div class="main-text">
        <p>
          If you're interested in my work, want to chat about data, or just want to connect, feel free to reach out! I'm always open to new 
          opportunities, collaborations, or networking with like-minded people. You can email me directly, find me on LinkedIn or Instagram, or 
          check out my GitHub using the icons below.
        </p>
      </div>

      <div class="socials-container">
        <img 
            src="static/assets/email.png" 
            alt="My Email" 
            class="socials-icon"
            onclick="location.href='mailto:averyjdoiron@icloud.com'" 
        />
        <img 
          src="static/assets/linkedin.png" 
          alt="My Instagram Profile"
          class="socials-icon" 
          onclick="location.href='https://www.linkedin.com/in/averydoiron/'" 
        />
        <img 
          src="static/assets/github.png" 
          alt="My X/Twitter Profile"
          class="socials-icon" 
          onclick="location.href='https://github.com/AveryJD'" 
        />
        <img 
          src="static/assets/instagram.png" 
          alt="My Instagram Profile"
          class="socials-icon" 
          onclick="location.href='https://www.instagram.com/averyjdoiron/'" 
        />
      </div>
    </div>

  </main>

  <div id="footer"></div>

  <script src="/static/js/main.js"></script>
</body>
</html>
