{% extends "base.html" %}

{% block title %}Analytics With Avery | CV{% endblock %}
{% block meta_description %}View and download Avery Doiron's CV, showcasing technical experience, professional roles, and accomplishments in data analytics and sports analytics projects.{% endblock %}
{% block meta_keywords %}Avery Doiron, Analytics With Avery, CV, sports analytics, data analytics, work experience, projects{% endblock %}

{% block og_title %}Analytics With Avery | Avery Doiron's CV{% endblock %}
{% block og_description %}Explore Avery Doiron's professional CV, highlighting experience, technical skills, and analytics projects.{% endblock %}
{% block og_image %}https://analyticswithavery.com/static/assets/documents/avery_doiron_cv.png{% endblock %}
{% block og_url %}https://analyticswithavery.com/cv{% endblock %}

{% block twitter_title %}Analytics With Avery | Avery Doiron's CV{% endblock %}
{% block twitter_description %}View and download Avery Doiron's CV, showcasing experience, technical skills, and sports analytics projects.{% endblock %}
{% block twitter_image %}https://analyticswithavery.com/static/assets/documents/cv.png{% endblock %}

{% block content %}
  <h1>CV</h1>

  <div class="cv-section">
    <h2>Learn About My Professional History</h2>
    <p>
      Here you can view my current CV. Click the icon to download a copy.
    </p>

    <a href="{{ url_for('static', filename='assets/documents/avery_doiron_cv.pdf') }}" download>
      <img class="download-image" src="{{ url_for('static', filename='assets/icons/download.png') }}" alt="Download CV">
    </a>

    <img
      class="cv-image"
      src="{{ url_for('static', filename='assets/documents/avery_doiron_cv_light.png') }}"
      data-light="{{ url_for('static', filename='assets/documents/avery_doiron_cv_light.png') }}"
      data-dark="{{ url_for('static', filename='assets/documents/avery_doiron_cv_dark.png') }}"
      alt="Avery Doiron's CV"
    >
  </div>
{% endblock %}