<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />

  <title>Analytics With Avery | CV</title>
  <meta name="description" content="View and download Avery Doiron's CV, showcasing technical experience, professional roles, and accomplishments in data analytics and sports analytics projects.">
  <meta name="keywords" content="Avery Doiron, Analytics With Avery, CV, sports analytics, data analytics, work experience, projects">
  <meta name="author" content="Avery Doiron">

  <meta property="og:title" content="Analytics With Avery | Avery Doiron's CV">
  <meta property="og:description" content="Explore Avery Doiron's professional CV, highlighting experience, technical skills, and analytics projects.">
  <meta property="og:image" content="https://analyticswithavery.com/static/assets/avery_doiron_cv.png">
  <meta property="og:url" content="https://analyticswithavery.com/cv">
  <meta property="og:type" content="website">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Analytics With Avery | Avery Doiron's CV">
  <meta name="twitter:description" content="View and download Avery Doiron's CV, showcasing experience, technical skills, and sports analytics projects.">
  <meta name="twitter:image" content="https://analyticswithavery.com/static/assets/cv.png">

  <link rel="stylesheet" href="/static/css/style.css" />
  <link rel="icon" href="/static/assets/favicon.png" type="image/png">
</head>


<body>

  <div class="page-content">

    <div id="navbar"></div>

    <main>
      
      <h1 class="main-heading">My CV</h1>

      <div class="cv-section">
        <div class="main-text">
          <p>
            Here you can view my current CV. Click the icon to download a copy.
          </p>
          <a href="/static/assets/avery_doiron_cv.pdf" download>
            <img class="download-image" src="/static/assets/download.png" alt="Download CV">
          </a>
        </div>
        <img 
          class="cv-image" 
          src="/static/assets/avery_doiron_cv.png" 
          alt="CV" 
        />
      </div>

    </main>

  </div>

  <div id="footer"></div>

  <script src="/static/js/main.js"></script>

</body>

</html>

